<?xml version="1.0"?>
<rss version="2.0" xmlns:g="http://base.google.com/ns/1.0">
    <channel>
        <title>Allsportsawards</title>
        <link>{{ url("index") }}</link>
        <description>Allsports Product Feed</description>
        {% for product in products if product.basePrice != 0.0000 %}
        <item>
            <title><![CDATA[{{ product.shortDescription | raw }}]]></title>
            <link><![CDATA[{{ url("product",{"uri": product.uri.slug}) }}]]></link>
            <description><![CDATA[{{ product.longDescription | raw }}]]></description>
            <g:image_link>{{ url("index") }}files/{{ product.image.first.imageName}}</g:image_link>
            <g:price>{{ product.basePrice | number_format(2,'.',',') }} GBP</g:price>
            <g:condition>new</g:condition>
            <g:id><![CDATA[{{ product.stockCode }}]]></g:id>
            <g:availability>in stock</g:availability>
            <g:google_product_category>5868</g:google_product_category>
            <g:brand>Allsportsawards</g:brand>
            <g:identifier_exists>no</g:identifier_exists>
            <g:adult>no</g:adult>
        </item>
        {% endfor %}
    </channel>
</rss>